
html
	head
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(type='text/javascript' src='js/script.js')
		link(rel='stylesheet' href='css/style.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Crete+Round|Raleway')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		title Random Quote Machine


	body
		.body
			#container
				.quote
					.quotetext
						i.fa.fa-circle-o-notch.fa-2x.fa-spin
					.author 
				.botones
					button.btn#tweet(type='button') TWEET
					button.btn#newquote(type='button') NEW QUOTE